$background-color: #F4EDD3;
$font-color: #7E99A3;

*{
    line-height: 1.5;
}
body{
    background-color: lighten($background-color, 5%);
    color: darken($font-color, 30%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: darken($font-color, 30%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 600;
}
footer{
    p{
        font-size: 0.8em;
        margin-left: 10%;
    }
}
#small-text{
    font-size: 0.9em;
    color: #d9561e;
    display: block;
}
#info-data{
    font-size: 0.6em;
    max-width: 40ch;
    text-align: center;
}
@mixin logo($logoWidth){
    width: $logoWidth;
    height: auto;
    margin: 1 auto;
}
.container{
    display: flex;
    column-gap: 5em;
}
.degree{
    position: absolute;
    color: darken(#ffbda1, 5%);
    font-weight: bold;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 70px;
}
p{
    font-size: 1em;
}
#water{
    width: 22em;
    height: 4em;
    border: 2px solid #ddd;
    padding: 1em;
    border-radius: 8px;
}
#section-option{
    display: none;
    width: 15em;
    margin: 1 auto;
    padding: 1.2em 0em;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    option{
        color:#7E99A3
    }
}
@mixin map($mapH, $mapW){
    height: $mapH;
    width: $mapW;
}
@mixin flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    @include flex();
}
.all-map{
    @include flex();
    flex-direction: column;
}


@media (min-width: 1200px){
    .headlogo{
        img{
            @include logo($logoWidth: 300px);
            @include flex();
        }
    }
    .start-text{
        padding-top: 2em;
        margin: 1 auto;
        text-align: center;
        width: 70ch;
    }
    #map{
        height: 400px;
        width: 500px;
        border-radius: 30px;
    }

    .water-wave{
        width: 150px;
        height: 150px;
        margin-top: 1em;
    }
    .degree{
        font-size: 28px;
    }
    .chart-map{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2em;
        #chart{
            width: 600px;
            display: none;
        }
    }
    #water-result{
        @include flex();
    }
    #wave-height{
        img{
        width: 100px;
        height: 100px;
        }
    }
}
@media (min-width: 801px) and (max-width: 1199px){
    .headlogo{
        img{
            @include logo($logoWidth: 300px);
            @include flex();
        }
    }
    .start-text{
        padding-top: 2em;
        margin: 1 auto;
        text-align: center;
        width: 60ch;
    }
    #map{
        height: 350px;
        width: 550px;
        border-radius: 30px;
    }
    .water-wave{
        width: 120px;
        height: 120px;
    }
    .degree{
        font-size: 22px;
    }
    #water-result{
        @include flex();
    }
    .chart-map{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1em;
        #chart{
            margin: 1 auto;
            width: 600px;
        }
    }
    #wave-height{
        img{
        width: 85px;
        height: 85px;
        }
    }
    
}
@media (min-width: 300px) and (max-width: 800px){
    h1{
        font-size: 1.5em;
    }
    .headlogo{
        margin: 0em 8em;
        padding-left: 2em;
        img{
            @include logo($logoWidth: 200px);
            @include flex();
        }
    }
    .start-text{
        padding-top: 1em;
        margin: 1 auto;
        text-align: center;
        p{
            width: 37ch;
            padding-top: 1em;
        margin: 1 auto;
        text-align: center;
        }
    }
    #map{
        height: 350px;
        width: 90vw;
        border-radius: 30px;
    }
    .water-wave{
        width: 100px;
        height: 100px;
    }
    .degree{
        font-size: 20px;
    }
    #water-result{
        width: 30ch;
        text-align: center
    }
    .result-flex{
        @include flex();
    }
    .chart-map{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1em;
        #chart{
            margin: 1 auto;
            width: 90vw;
        }
    }
    #wave-height{
        img{
        width: 75px;
        height: 75px;
        }
    }
}
@media (max-width: 600px){
.apexcharts-title-text{
    font-size: 12px;
}
}